header {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 6px 17px -14px RGBA(0 0 0);
  display: flex;
  justify-content: space-between;
  padding: 5px 0 5px 15px;
}

.app-head {
  margin: auto;
}
